.row{
    background-color: black;
}
#textos{
    color:aliceblue;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 12px;
    font-size: 18px;
}

h1{
    color: lightskyblue;
    text-decoration: underline;
    font-weight: bold;
}

h2{
    font-size:20px;
    text-decoration: underline;
    color: lightskyblue;

}
@media(min-width:576px) {
    #fotoperfil{
        position: absolute;
        width: 20%;
        border-radius: 45%;
        left: 5%;
        top: 500px;
        
    }
    
}
@media(max-width:575px) {
    #fotoperfil{
        position: absolute;
        width: 20%;
        border-radius: 45%;
        left: 5%;
        top: 500px;
        
    }
    
}