<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="" class="img fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h1 id="titulo"> Nombre y Apellido:</h1>
        <p>Gantus, Juan Ignacio</p>
        <p id="titulo"> Titulo:</p>
        <p>Full Stack Developer Jr</p>
    </div> 
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h1 id="titulo">Acerca de mí</h1>
        <p>
           Tengo 22 años, siendo mi fecha de nacimiento el 9/3/2000,
           estudiante de Ingenieria Industrial en UTN, cursando mi 3er año.

        </p>
    </div>
</div>