.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redes{
    margin-right: 25px;
}
#LogoAp{
    width: 120px;
}
img{
    width: 35px;
}
.btn{
    border-width: 3px;
}
