<div class="row">
<h1>Estudios Realizados</h1>
<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
<div class="col-xs-11 col-sm-11 col-md- 11 col-lg-11">
    <ul>
        <li> <h1> Colegio San Agustin </h1> <h3> Finalizado.</h3> </li>
        <p> Colegio trilingue con Bachiller en Administracion de Empresas.
            Promedio General:7,33. </p>
        <p> Participante de modelos ONU por 2 años.</p>
        <p> Participantes OMA por 3 años.</p>

    </ul>
    <ul>
        <li> <h1> Universitario: Universidad Tecnologica Nacional</h1> <h3> En curso.</h3></li>
        <p> Estudiante de Ingenieria Industrial, cursando 3er año.</p>
    </ul>
    <ul>
        <li> <h1> Universitario: Universidad de Buenos Aires </h1> <h3> En curso.</h3></li>
        <p> Licenciatura en Psicologia, actualmente cursando el CBC.</p>      
        </ul>
    <ul>
    <li> <h1> Universitario: Universidad Tecnologica Nacional</h1> <h3> Abandonado.</h3></li>
    <p> Estudiante de Ingenieria Quimica.</p>      
    </ul>

</div>
</div>