<div class="row">
<h1 >Experiencia Laboral</h1>
<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
<div class="col-xs-11 col-sm-11 col-md-11 col-lg-11" id="textos">
    <ul>
        <li> <h2> Soporte tecnico en Curso de Industria 4.0 </h2> <h3> 6 meses. </h3> </li>
        <p> Ayudante en el curso de Industria 4.0 realizado por la UTN en conjuncion con la UIA. </p>
        <p> Ayuda como data entry, a la vez de soporte tecnico en clases realizadas.</p>
    </ul>

    <ul>
        <li> <h2> Profesor particular en Matematicas y Quimica </h2> <h3> 2 años.  </h3> </li>
        <p> Profesor de manera particular en las areas de Matematica y Quimica, mayormente enfocado en Secundario. </p>
    </ul>
</div>
</div>
