.row{
    background-color: black;
}
#textos{
    color:aliceblue;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 12px;
    font-size: 18px;
}

 h3{
    text-decoration: underline;
 }

 h1{
    color: lightskyblue;
    text-decoration: underline;
    font-weight: bold;
 }
.parte3{
    padding: 10px;

}

.parte1, .parte2{
    text-align: justify;
    display: inline-block;
}