<div class="row">
    <h1 >Proyectos realizados</h1>
    <div class="container">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 parte3" id="textos">
          <h3> Portfolio Web</h3>
            <p> Proyecto realizado para presentar ante los profesionales a cargo del Curso de #YoProgramo. </p>
            <p> Fue creado desde el 1 de septiembre hasta el dia 13 de Enero.</p>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 parte1" id="textos">
        <h3> Proyecto"La Estacion de Servicio 2030"</h3>
          <p> Concurso realizado por EmpleoTecnia, para presentar un proyecto para Axion Energy. </p>
          <p> Fue realizado en el año 2021.</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 parte2" id="textos">
        <p> Certificado de participacion del concurso</p>
       
    </div>
</div>
    