<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class= "col-xs-12 col-sm-4 col-md-3 col-xl-3">
    <circle-progress
  [percent]="65"
  [title]="'AUTOCAD'"
  [titleFontSize]="'30px'"
  [showTitle]="true"
  [titleColor]="'White'"
  [showSubtitle]="false"
  [showUnits]="false"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'green'"
  [innerStrokeColor]="'grey'"
  [animation]="true"
  [animationDuration]="1000"
></circle-progress>
</div>
<div class= "col-xs-12 col-sm-4 col-md-3 col-xl-3">
    <circle-progress
  [percent]="85"
  [title]="'Paquete Office'"
  [titleFontSize]="'20px'"
  [showTitle]="true"
  [titleColor]="'White'"
  [showSubtitle]="false"
  [showUnits]="false"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'green'"
  [innerStrokeColor]="'grey'"
  [animation]="true"
  [animationDuration]="1000"
></circle-progress>
</div>
<div class= "col-xs-12 col-sm-4 col-md-3 col-xl-3">
    <circle-progress
  [percent]="80"
  [title]="'Resolución de problemas'"
  [titleFontSize]="'12px'"
  [showTitle]="true"
  [titleColor]="'White'"
  [showSubtitle]="false"
  [showUnits]="false"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'green'"
  [innerStrokeColor]="'grey'"
  [animation]="true"
  [animationDuration]="1000"
></circle-progress>
</div>
<div class= "col-xs-12 col-sm-4 col-md-3 col-xl-3">
    <circle-progress
  [percent]="70"
  [title]="'Trabajo en equipo'"
  [titleFontSize]="'18px'"
  [showTitle]="true"
  [titleColor]="'White'"
  [showSubtitle]="false"
  [showUnits]="false"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'green'"
  [innerStrokeColor]="'grey'"
  [animation]="true"
  [animationDuration]="1000"
></circle-progress>
</div>
<div class= "col-xs-12 col-sm-4 col-md-3 col-xl-3">
    <circle-progress
  [percent]="65"
  [title]="'AUTOCAD'"
  [titleFontSize]="'30px'"
  [showTitle]="true"
  [titleColor]="'White'"
  [showSubtitle]="false"
  [showUnits]="false"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'green'"
  [innerStrokeColor]="'grey'"
  [animation]="true"
  [animationDuration]="1000"
></circle-progress>
</div>
<div class= "col-xs-12 col-sm-4 col-md-3 col-xl-3">
    <circle-progress
  [percent]="65"
  [title]="'AUTOCAD'"
  [titleFontSize]="'30px'"
  [showTitle]="true"
  [titleColor]="'White'"
  [showSubtitle]="false"
  [showUnits]="false"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'green'"
  [innerStrokeColor]="'grey'"
  [animation]="true"
  [animationDuration]="1000"
></circle-progress>
</div>
<div class= "col-xs-12 col-sm-4 col-md-3 col-xl-3">
    <circle-progress
  [percent]="65"
  [title]="'AUTOCAD'"
  [titleFontSize]="'30px'"
  [showTitle]="true"
  [titleColor]="'White'"
  [showSubtitle]="false"
  [showUnits]="false"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'green'"
  [innerStrokeColor]="'grey'"
  [animation]="true"
  [animationDuration]="1000"
></circle-progress>
</div>
<div class= "col-xs-12 col-sm-4 col-md-3 col-xl-3">
    <circle-progress
  [percent]="65"
  [title]="'AUTOCAD'"
  [titleFontSize]="'30px'"
  [showTitle]="true"
  [titleColor]="'White'"
  [showSubtitle]="false"
  [showUnits]="false"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'green'"
  [innerStrokeColor]="'grey'"
  [animation]="true"
  [animationDuration]="1000"
></circle-progress>
</div>
<h1> Idiomas </h1>
<div class= "col-xs-12 col-sm-4 col-md-4 col-xl-4">
    <circle-progress
  [percent]="75"
  [title]="'Ingles'"
  [titleFontSize]="'30px'"
  [showTitle]="true"
  [titleColor]="'White'"
  [showSubtitle]="false"
  [showUnits]="false"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'green'"
  [innerStrokeColor]="'grey'"
  [animation]="true"
  [animationDuration]="1000"
></circle-progress>
</div>
<div class= "col-xs-12 col-sm-4 col-md-4 col-xl-4">
    <circle-progress
  [percent]="45"
  [title]="'Portugues'"
  [titleFontSize]="'30px'"
  [showTitle]="true"
  [titleColor]="'White'"
  [showSubtitle]="false"
  [showUnits]="false"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'green'"
  [innerStrokeColor]="'grey'"
  [animation]="true"
  [animationDuration]="1000"
></circle-progress>
</div>
<div class= "col-xs-12 col-sm-4 col-md-4 col-xl-4">
    <circle-progress
  [percent]="100"
  [title]="'Español'"
  [titleFontSize]="'30px'"
  [showTitle]="true"
  [titleColor]="'White'"
  [showSubtitle]="false"
  [showUnits]="false"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'green'"
  [innerStrokeColor]="'grey'"
  [animation]="true"
  [animationDuration]="1000"
></circle-progress>
</div>
</div>